<div class="flex pt-10 py-5 px-2.5 bg-white intro-x">
  <div class="w-[770px] mx-auto flex gap-4">
    <button (click)="handleBack()" [title]="'routes.admin.Layout.back' | translate">
      <i class="las la-arrow-left text-2xl text-blue-500"></i>
    </button>
    <h2 class="text-2xl font-semibold">
      {{
        (isCustomer ? 'routes.admin.user.editCustomerInfomation' : 'routes.admin.user.editInternalAccount') | translate
      }}
    </h2>
  </div>
</div>
<div class="min-h-[calc(100vh-128px)] bg-gray-100 rounded-tl-md rounded-tr-md p-5">
  <div class="w-[700px] bg-white mx-auto p-5 rounded-md shadow mb-5 -intro-x">
    <h2 class="font-semibold text-xl pb-5">{{ 'routes.admin.user.changePassword' | translate }}</h2>
    <g-form
      #form
      [columns]="columnsForm"
      [textSubmit]="'components.form.save' | translate"
      (handSubmit)="handleSubmit($event)"
      (handBack)="handleBack()"
    ></g-form>
  </div>
</div>
