<div class="mb-8">
  <h1 class="intro-x text-4xl mb-3 font-semibold" id="title">{{ 'routes.auth.register.title' | translate }}</h1>
  <h5 class="intro-x font-medium text-gray-300">{{ 'routes.auth.register.subTitle' | translate }}</h5>
</div>

<div class="intro-x">
  <g-form
    [widthLabel]="0"
    [columns]="columns"
    [loading]="globalFacade.isLoading$ | async"
    (handSubmit)="submitForm($event)"
    textSubmit="{{ 'routes.auth.register.title' | translate }}"
    (handBack)="router.navigate(['..'], {relativeTo: route})"
  ></g-form>
</div>

<div class="intro-x mt-3">
  {{ 'routes.auth.register.haveAccount' | translate }}
  <a class="text-blue-500 hover:text-blue-400" [routerLink]="['/auth/login']">{{
    'routes.auth.login.loginButton' | translate
  }}</a>
</div>
<div class="mt-1 intro-x">
  {{ 'routes.auth.login.dontRememberYourPass' | translate }}
  <a class="text-blue-500 hover:text-blue-400" [routerLink]="['/auth/forgot-password']">{{
    'routes.auth.forgot.forgot-pass' | translate
  }}</a>
</div>
