<section>
  <div class="pt-10 py-5 px-2.5">
    <div class="w-[540px] mx-auto relative">
      <button class="absolute top-0 -left-9" [routerLink]="[language + '/order',this.route.snapshot.params.id]">
        <i class="las la-arrow-left text-3xl text-blue-600"></i>
      </button>
      <h2 class="text-2xl font-semibold">Chi tiết thương thảo</h2>
    </div>
  </div>
</section>
<div class="w-full pt-6 bg-gray-100 min-h-[calc(100vh-128px)]">
  <div class="w-[540px] bg-white mx-auto rounded-md p-5 mb-5"
       *ngIf="OrdersFacade?.dataDetailProposal$|async as detailProposal">
    <div class="pb-2 col-span-12 text-left border-b-2 border-gray-200 flex justify-between">
      <p class="font-medium text-black text-lg">Chi tiết thương thảo</p>
    </div>
    <div class="flex gap-x-5 space-y-0.5 py-2 border-b-2 border-gray-200">
      <div class="w-1/2">
        <div>
          <p class="text-gray-500 mb-1">Ngày giờ đề xuất</p>
          <strong>{{transform(detailProposal?.newTreatmentDate)}}</strong>
        </div>
      </div>
      <div class="w-1/2">
        <div>
          <p class="text-gray-500 mb-1">Phản hồi Orderside</p>
          <div *ngIf="detailProposal?.isAccepted==true"
               class="py-0.5 px-2 w-20 bg-blue-500 text-white text-sm text-center">
            Đồng ý
          </div>
          <div *ngIf="detailProposal?.isAccepted==false"
               class="py-0.5 px-2 w-20 bg-red-500 text-white text-sm text-center">
            Từ chối
          </div>
        </div>
      </div>
    </div>
    <div class="flex gap-x-5 space-y-0.5 py-2 border-b-2 border-gray-200">
      <div class="w-1/2">
        <div>
          <p class="text-gray-500 mb-1">Độ khó</p>
          <strong>{{detailProposal?.newDifficulty?.title}}</strong>
        </div>
      </div>
      <div class="w-1/2">
        <div class="">
          <p class="text-gray-500 mb-1">Lý do đề xuất</p>
          <strong>{{detailProposal?.note}}</strong>
        </div>
      </div>
    </div>
    <div class="flex gap-x-5 space-y-0.5 py-2 border-b-2 border-gray-200">
      <div class="w-1/2">
        <div>
          <p class="text-gray-500 mb-1">Hoa hồng trước đề xuất</p>
          <strong>{{(detailProposal?.oldCommissionAmount)?.toLocaleString()}}đ</strong>
        </div>
      </div>
      <div class="w-1/2">
        <div>
          <p class="text-gray-500 mb-1">Hoa hồng sau đề xuất</p>
          <strong>{{(detailProposal?.newCommissionAmount)?.toLocaleString()}}đ</strong>
        </div>
      </div>
    </div>
    <div class="flex gap-x-5 space-y-0.5 py-2 border-b-2 border-gray-200">
      <div class="w-1/2">
        <div>
          <p class="text-gray-500 mb-1">Tổng tiền sau đề xuất</p>
          <strong>{{(detailProposal?.totalCommissionAmount)?.toLocaleString()}}đ</strong>
        </div>
      </div>
      <div class="w-1/2">
        <div>
          <p class="text-gray-500 mb-1">Số tiền Farmer Side thực nhận</p>
          <strong>{{(detailProposal?.totalFarmerActuallyReceivedAmount)?.toLocaleString()}}đ</strong>
        </div>
      </div>
    </div>
  </div>
</div>
